.wrapper {
  display: grid;
  background: #333;
  grid-template-columns: repeat(3, 1fr);
  max-width: 960px;
  gap: 5px;
}

header {
  grid-column: span 3;
  padding: 20px;
  border: 3px solid red;
}

aside {
  border: 3px solid red;
  padding: 20px;
}

footer {
  grid-column: span 3;
  padding: 20px;
  border: 3px solid red;
}

nav {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 20px;
  border: 3px solid red;
}

main {
  border: 3px solid red;
}

body {
  text-align: center;
  color: white;
}
